{% extends 'app2/coding.html' %}
{% block content %}
	
<h1>SignIn!</h1>
<form method="POST" >
	{% csrf_token %}
	<fieldset>
	<table>
		<tr>
			<td>Username:-</td>
			<td><input type='text' name='username' required></td>
		</tr>
		<tr>
			<td>Password:-</td>
			<td><input type='password' name='password' required></td>
		</tr>
	</table>
</fieldset>
    <p></p><input type='submit' name='Submit'></p>
</form>
<div><a href="{% url 'signup' %}">Don't have an account?Signup here</a></div>
{% endblock %}
