
{% extends 'app2/coding.html' %}
{% block content %}
	
<h1>Sign-Up!</h1>

<form method="POST" >
	{% csrf_token %}
	<fieldset>
	<table>
		<tr>
			<td>Username:-</td>
			<td><input type='text' name='username' required></td>
		</tr>
		<tr>
			<td>Email id:-</td>
			<td><input type='text' name='email' required></td>
		</tr>
		<tr>
			<td>First name:-</td>
			<td><input type='text' name='fname' required></td>
		</tr>
		<tr>
			<td>Last name:-</td>
			<td><input type='text' name='lname' required></td>
		</tr>
		<tr>
			<td>Phone number:-</td>
			<td><input type='text' name='mob' required></td>
		</tr>
		<tr>
			<td>Password:-</td>
			<td><input type='password' name='password1' required></td>
		</tr>
		<tr>
			<td>Confirm password:-</td>
			<td><input type='password' name='password2' required></td>
		</tr>
	</table>
</fieldset>
		<p>Instructions while Signup:</p>
		<div>1. Username should be in 6-20 characters</div>
		<div>2. Username should not end with _, -, .  </div>
		<div>3. Username should not contain consecutive _ ,- , .  </div>
		
	<p></p><input type='submit' name='Submit'></p>
</form>
<div><a href="{% url 'signin' %}">ALready have an account?Signin here</a></div>
{% endblock %}
